## Prueba Tecnica Hugo

### Twitter API - Hugo

### Import libraries

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import tweepy  
import time
import csv
import json
import pickle

from sklearn.feature_extraction.text import CountVectorizer
import snscrape.modules.twitter as sntwitter

### Reading CSV generated from the archive "prueba_hugo.py"

In [9]:
df = pd.read_csv('tweets.csv', sep=',', index_col=0)

In [10]:
df

,Date,User,Tweet,Likes,Retweets,Replies
0,2022-05-19 15:39:16+00:00,TheBridge_Tech,Â¡QuÃ© poco queda para el prÃ³ximo ðŸ”¥Burn MondayðŸ”¥!...,0,2,0
1,2022-05-18 15:23:22+00:00,TheBridge_Tech,Esta es la historia de IsisðŸ¤— que decidiÃ³ hacer...,0,0,0
2,2022-05-18 11:26:31+00:00,TheBridge_Tech,Gracias @victorianoI y equipo por el anÃ¡lisis ...,0,0,0
3,2022-05-18 08:31:13+00:00,Bcasapp,Â¿CÃ³mo combatir el paro juvenilðŸ¥µ? #tipdeldia En...,8,4,1
4,2022-05-17 14:53:47+00:00,TheBridge_Tech,Â¿Con ganas de probar si un empleo tecnolÃ³gico ...,2,2,0
...,...,...,...,...,...,...
129,2022-01-18 16:02:13+00:00,TheBridge_Tech,Del periodismo al marketing digital ðŸ¤¸ esta es ...,0,0,0
130,2022-01-12 19:03:03+00:00,nodosenlared,Ciclo de Conferencias sobre Inteligencia Artif...,6,1,0
131,2022-01-09 17:23:02+00:00,ing_titiritero,Me encantarÃ­a saber que les enseÃ±an sobre esta...,0,0,0
132,2022-01-08 12:10:46+00:00,cmarchena,"@cbusquets Hola, @TheBridge_Tech te da la opci...",4,0,0
133,2022-01-05 08:00:01+00:00,pymesmagazine,Â¿Quieres formarte en una de las profesiones qu...,3,0,0

In [11]:
df2 = pd.read_csv('tweets_hm.csv', sep=',', index_col=0)

In [12]:
df2

,Date,User,Tweet,id
0,2022-05-19 15:39:16+00:00,TheBridge_Tech,Â¡QuÃ© poco queda para el prÃ³ximo ðŸ”¥Burn MondayðŸ”¥!...,1527312943397806080
1,2022-05-18 15:23:22+00:00,TheBridge_Tech,Esta es la historia de IsisðŸ¤— que decidiÃ³ hacer...,1526946552492789760
2,2022-05-18 11:26:31+00:00,TheBridge_Tech,Gracias @victorianoI y equipo por el anÃ¡lisis ...,1526886949839065088
3,2022-05-18 08:31:13+00:00,Bcasapp,Â¿CÃ³mo combatir el paro juvenilðŸ¥µ? #tipdeldia En...,1526842834741039105
4,2022-05-17 14:53:47+00:00,TheBridge_Tech,Â¿Con ganas de probar si un empleo tecnolÃ³gico ...,1526576722350686208
...,...,...,...,...
129,2022-01-18 16:02:13+00:00,TheBridge_Tech,Del periodismo al marketing digital ðŸ¤¸ esta es ...,1483469787078533123
130,2022-01-12 19:03:03+00:00,nodosenlared,Ciclo de Conferencias sobre Inteligencia Artif...,1481340966866989063
131,2022-01-09 17:23:02+00:00,ing_titiritero,Me encantarÃ­a saber que les enseÃ±an sobre esta...,1480228635294449667
132,2022-01-08 12:10:46+00:00,cmarchena,"@cbusquets Hola, @TheBridge_Tech te da la opci...",1479787660910768132
133,2022-01-05 08:00:01+00:00,pymesmagazine,Â¿Quieres formarte en una de las profesiones qu...,1478637395289378817

In [13]:
df['id'] = df2['id']

In [14]:
df

,Date,User,Tweet,Likes,Retweets,Replies,id
0,2022-05-19 15:39:16+00:00,TheBridge_Tech,Â¡QuÃ© poco queda para el prÃ³ximo ðŸ”¥Burn MondayðŸ”¥!...,0,2,0,1527312943397806080
1,2022-05-18 15:23:22+00:00,TheBridge_Tech,Esta es la historia de IsisðŸ¤— que decidiÃ³ hacer...,0,0,0,1526946552492789760
2,2022-05-18 11:26:31+00:00,TheBridge_Tech,Gracias @victorianoI y equipo por el anÃ¡lisis ...,0,0,0,1526886949839065088
3,2022-05-18 08:31:13+00:00,Bcasapp,Â¿CÃ³mo combatir el paro juvenilðŸ¥µ? #tipdeldia En...,8,4,1,1526842834741039105
4,2022-05-17 14:53:47+00:00,TheBridge_Tech,Â¿Con ganas de probar si un empleo tecnolÃ³gico ...,2,2,0,1526576722350686208
...,...,...,...,...,...,...,...
129,2022-01-18 16:02:13+00:00,TheBridge_Tech,Del periodismo al marketing digital ðŸ¤¸ esta es ...,0,0,0,1483469787078533123
130,2022-01-12 19:03:03+00:00,nodosenlared,Ciclo de Conferencias sobre Inteligencia Artif...,6,1,0,1481340966866989063
131,2022-01-09 17:23:02+00:00,ing_titiritero,Me encantarÃ­a saber que les enseÃ±an sobre esta...,0,0,0,1480228635294449667
132,2022-01-08 12:10:46+00:00,cmarchena,"@cbusquets Hola, @TheBridge_Tech te da la opci...",4,0,0,1479787660910768132
133,2022-01-05 08:00:01+00:00,pymesmagazine,Â¿Quieres formarte en una de las profesiones qu...,3,0,0,1478637395289378817

### General analysis

In [17]:
df.columns

Index(['Date', 'User', 'Tweet', 'Likes', 'Retweets', 'Replies', 'id'], dtype='object')

In [19]:
df.dtypes

Date        object
User        object
Tweet       object
Likes        int64
Retweets     int64
Replies      int64
id           int64
dtype: object

### Pandas Dataframe to SQL

In [30]:
import sqlite3

conn = sqlite3.connect('df_database')
c = conn.cursor()

In [31]:
df_obj = df[['Date', 'User', 'Tweet']]
df_int = df[['Likes', 'Retweets', 'Replies', 'id']]

In [32]:
c.execute('CREATE TABLE IF NOT EXISTS products (Date, User, Tweet)')
conn.commit()

In [33]:
c.execute('CREATE TABLE IF NOT EXISTS products (Likes, Retweets, Replies, id)')
conn.commit()

In [37]:
df_obj.to_sql('str_data', conn, if_exists='replace', index = False)

df_int.to_sql('int_data', conn, if_exists='replace', index = False)

In [38]:
c.execute('''  
SELECT * FROM int_data
          ''')

for row in c.fetchall():
    print (row)

(0, 2, 0, 1527312943397806080)
(0, 0, 0, 1526946552492789760)
(0, 0, 0, 1526886949839065088)
(8, 4, 1, 1526842834741039105)
(2, 2, 0, 1526576722350686208)
(1, 2, 0, 1526479745185198080)
(4, 4, 0, 1526133158743359488)
(1, 0, 0, 1525556372129169411)
(2, 0, 0, 1525051913317801984)
(0, 0, 0, 1525047381234003968)
(0, 0, 0, 1524795347352051712)
(0, 0, 0, 1524738407603310594)
(0, 0, 0, 1524117624174653441)
(1, 0, 1, 1524053162323283968)
(0, 0, 0, 1523574457549623296)
(0, 1, 0, 1522231140656066561)
(4, 2, 0, 1522114536286920704)
(0, 0, 0, 1521871017714589699)
(1, 0, 0, 1519712433740386308)
(15, 1, 0, 1519706866703638529)
(6, 1, 0, 1519432213061943303)
(8, 0, 0, 1519359124219338752)
(1, 0, 0, 1519338659111178242)
(5, 1, 0, 1519225678335459328)
(2, 1, 0, 1519208638136602626)
(7, 5, 0, 1518967719516909568)
(0, 0, 0, 1518963397701906433)
(3, 0, 1, 1518910838987501570)
(3, 1, 1, 1518909298688077825)
(0, 0, 0, 1518607234976161792)
(0, 0, 0, 1518529871969988608)
(2, 0, 0, 1517423870483042304)
(5, 1, 0, 1517421295373271041)
(2, 0, 0, 1517420242120683520)
(5, 3, 0, 1517419666938998784)
(4, 1, 0, 1517418437777240065)
(2, 0, 0, 1517417898133884928)
(0, 0, 0, 1517409914792075264)
(0, 0, 0, 1517396691443490816)
(0, 0, 0, 1517147713254526978)
(0, 0, 0, 1517121644682256385)
(1, 0, 0, 1517111329374543873)
(4, 1, 0, 1517103356346617856)
(1, 0, 0, 1516740060346929153)
(3, 0, 1, 1516687246241550337)
(8, 0, 1, 1516642121729679362)
(1, 0, 0, 1516505700595388430)
(1, 0, 0, 1516440085486575617)
(1, 0, 0, 1516070347854028804)
(1, 0, 1, 1516067228344533003)
(0, 0, 0, 1516048336477995008)
(1, 0, 1, 1516044530348347394)
(1, 0, 0, 1515970019733258247)
(0, 0, 0, 1515945939508375556)
(1, 0, 1, 1515944204127645701)
(6, 1, 5, 1515933948001632256)
(0, 0, 0, 1513867656180477953)
(12, 3, 3, 1513848281801056258)
(3, 1, 0, 1513807125205684224)
(0, 1, 0, 1513473323589672963)
(0, 0, 0, 1512026991578566657)
(6, 1, 1, 1512007299187027971)
(0, 0, 0, 1511970979324518406)
(0, 0, 0, 1511633207061630980)
(0, 0, 0, 1511613451063410690)
(3, 0, 0, 1511329612260950019)
(0, 0, 1, 1511328611755827200)
(0, 0, 0, 1509622664297693189)
(4, 1, 0, 1509126320386715655)
(1, 2, 0, 1509108619782111235)
(8, 2, 0, 1509101924699803650)
(4, 0, 0, 1509074925654532099)
(3, 1, 1, 1508843117000249345)
(6, 2, 0, 1507711509467734019)
(7, 4, 0, 1507059034146361344)
(1, 0, 0, 1507029045187387401)
(0, 0, 0, 1506941441574117378)
(5, 4, 0, 1504734193401618459)
(0, 0, 0, 1504525515247472649)
(0, 0, 0, 1504416870526590977)
(5, 0, 1, 1504380116792664064)
(3, 2, 0, 1503808574987935757)
(0, 0, 0, 1503513313648463877)
(3, 1, 0, 1503409219789328384)
(0, 0, 0, 1502360507365400587)
(0, 0, 0, 1502195577584500740)
(1, 0, 0, 1501543878692073472)
(2, 2, 1, 1501530641610989581)
(13, 0, 0, 1500124541137428490)
(0, 0, 0, 1499397980704546831)
(0, 0, 0, 1499397820410851332)
(1, 0, 0, 1499395478563155968)
(0, 0, 2, 1499088433293185033)
(1, 0, 0, 1498939760462630913)
(2, 0, 1, 1498249085337444355)
(2, 0, 0, 1498212250481483778)
(4, 1, 0, 1497198545333624832)
(1, 0, 0, 1497165125752664112)
(1, 0, 0, 1497118969236377601)
(0, 0, 0, 1496865773582696449)
(2, 2, 0, 1496140777529004033)
(6, 1, 0, 1496021941483802630)
(0, 0, 0, 1495710690950193155)
(0, 1, 0, 1495055146769915908)
(8, 5, 0, 1494627201794428930)
(8, 1, 0, 1493639257587601413)
(2, 0, 0, 1492946377290178564)
(4, 1, 0, 1492557029046632448)
(0, 1, 0, 1492085613713141760)
(1, 1, 1, 1491801710729195524)
(2, 0, 1, 1490999359579643909)
(3, 0, 0, 1490973768667512835)
(1, 0, 0, 1490430578633674756)
(1, 0, 0, 1489249806249644040)
(3, 1, 0, 1489181416818724864)
(0, 0, 0, 1488811177928921089)
(2, 2, 0, 1488552725113618439)
(6, 2, 0, 1488167222979801095)
(0, 0, 0, 1486618465909854214)
(1, 0, 0, 1486398530243735553)
(1, 0, 0, 1485946677194371074)
(3, 3, 0, 1485581825401577472)
(1, 1, 0, 1484832209567551489)
(8, 0, 0, 1484480904030523394)
(5, 0, 0, 1484471502586138629)
(1, 0, 0, 1484462596065574914)
(3, 1, 0, 1484117172494475265)
(1, 2, 0, 1483836824279818241)
(0, 0, 0, 1483737308553789445)
(0, 0, 0, 1483469787078533123)
(6, 1, 0, 1481340966866989063)
(0, 0, 0, 1480228635294449667)
(4, 0, 0, 1479787660910768132)
(3, 0, 0, 1478637395289378817)

#### Connect to the database

In [39]:
connection = sqlite3.connect('twitter_hm.db')
cursor = connection.cursor()

In [41]:
def select_int():
    connection = sqlite3.connect('twitter_hm.db')
    cursor = connection.cursor()
    select_int = "SELECT * FROM int_data"
    result = cursor.execute(select_int).fetchall()
    connection.close()
    return result

In [42]:
select_int()

OperationalError: no such table: int_data